body {
  min-width: 320px;
  font-family: "Poppins", sans-serif;
  color: #1f1f1f;
  background-color: #f5f5f5;
}

#root {
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1434px;
  margin: 0 auto;
  padding: 0 15px;
}