.login-page {
  padding: 0;
}

.login-page__container {
  width: 100%;
  max-width: 1008px;
  margin: 0 auto;
  padding: 28px 239px 402px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  background-color: #ffffff;
}

.login-page__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
  color: #141414;
}